<div id="header" ng-if="!detailCtrl.isWorld">
    <div class="button danger"
     ng-click="detailCtrl.destroy()"
    >
        Destroy
    </div>
    <div class="button"
     ng-class="{warn: cache.alive, success: !cache.alive}"
     ng-click="detailCtrl.killRevive()"
     ng-if="cache.kill"
    >
        {{ cache.alive ? 'Kill' : 'Revive' }}
    </div>
    <div class="button"
     ng-class="{info : cache.visible, deactive : !cache.visible}"
     ng-click="detailCtrl.showHide()"
     ng-if="cache.alive || !cache.kill"
     tooltip-trigger tooltip-text="Show/Hide"
    >
        <i class="fa"
         ng-class="{'fa-eye': cache.visible, 'fa-eye-slash': !cache.visible}"
        ></i>
    </div>
    <div class="button primary"
     ng-click="detailCtrl.deselect()"
     tooltip-trigger tooltip-text="Deselect"
    >
        <i class="fa fa-ban"></i>
    </div>
</div>
<div class="info">
    <div class="row">
        <div class="label pl1">Class</div>
        <div class="detail" ng-bind="cache.className"></div>
    </div>
    <div class="row"
     tooltip-trigger tooltip-text="Number of direct children"
    >
        <div class="label pl1">Children</div>
        <div class="detail" ng-bind="cache.noChildren"></div>
    </div>
    <div class="row"
     tooltip-trigger tooltip-text="Number of alive direct children"
    >
        <div class="label pl1">Alive</div>
        <div class="detail" ng-bind="cache.noAlive"></div>
    </div>
    <div class="row"
     tooltip-trigger tooltip-text="Number of nested children"
    >
        <div class="label pl1">Nested</div>
        <div class="detail" ng-bind="cache.noNested"></div>
    </div>
    <div class="row"
     tooltip-trigger tooltip-text="Number of alive nested children, not sure if it is correct yet"
    >
        <div class="label pl1">Nested alive</div>
        <div class="detail" ng-bind="cache.noNestedAlive"></div>
    </div>
</div>

<div class="section" ng-repeat="plugin in cache.plugins" ng-if="plugin.show">
    <div class="row header" ng-bind="plugin.header"></div>
    <div class="row" ng-if="plugin.fields.template" bind-html-unsafe="plugin.fields.template"></div>
    <div class="row" ng-if="!plugin.fields.template">
        <div ng-repeat-start="field in plugin.fields"
         class="label"
         ng-bind="field.label.text"
         ng-style="{
            'padding-left' : field.label.paddingLeft + 'px',
            'flex' : field.label.flex
         }">
        </div>
        <input
         class="detail"
         ng-if="field.detail.input"
         type="{{field.detail.type || 'number'}}"
         ng-model="field.detail.data"
         ng-style="{
            'padding-left' : field.detail.paddingLeft + 'px',
            'flex' : field.detail.flex
         }"/>
        <div ng-repeat-end
         class="detail"
         ng-if="!field.detail.input"
         ng-bind="field.detail.data"
         ng-style="{
            'padding-left' : field.detail.paddingLeft + 'px',
            'flex' : field.detail.flex
         }">
        </div>
    </div>
</div>