<div class="states">
	<div>
		<div class="state" ng-repeat="(state, stateObj) in treeCtrl.game.state.states" ng-bind="state" ng-class="{selected : state === treeCtrl.game.state.current}" ng-click="treeCtrl.goToState(state)">
		</div>
	</div>
</div>

<div class="tree-control">
    <div class="button"
     tooltip-trigger tooltip-text="Inspect Element"
     ng-class="{
        primary  : !treeCtrl.gameManager.screenInspecting,
        deactive : treeCtrl.gameManager.screenInspecting
     }"
     ng-click="treeCtrl.gameManager.screenInspect()"
    >
        <i class="fa fa-search"></i>
    </div>
    <div class="button info"
     tooltip-trigger tooltip-text="Collapse All"
     ng-click="treeCtrl.gameManager.collapseAll()"
    >
        <i class="fa fa-compress"></i>
    </div>
    <div class="button"
     ng-class="{
        warn     : treeCtrl.gameManager.$render,
        deactive : !treeCtrl.gameManager.$render
     }"
     tooltip-trigger tooltip-text="Toggle Box Render"
     ng-click="treeCtrl.gameManager.$render = !treeCtrl.gameManager.$render"
    >
        <i class="fa fa-paint-brush"></i>
    </div>
    <div class="button"
     ng-class="{
		success  : treeCtrl.game.paused,
		danger   : !treeCtrl.game.paused
     }"
     tooltip-trigger tooltip-text="Play/Pause"
     ng-click="treeCtrl.game.paused = !treeCtrl.game.paused"
    >
        <i class="fa" ng-class="{
            'fa-play'  :  treeCtrl.game.paused,
            'fa-pause' :  !treeCtrl.game.paused
        }"></i>
    </div>
</div>

<div class="scene">
	<view-collection ng-if="!treeCtrl.search || treeCtrl.search.length === 0 || !treeCtrl.search.trim()" parent="treeCtrl.game.world.children" filtered="false"></view-collection>
	<view-collection ng-if="treeCtrl.search && treeCtrl.search.length && treeCtrl.search.trim()" parent="treeCtrl.gameManager.filteredWorld.$inspectorFilteredChildren" filtered="true"></view-collection>
</div>
<input class="search" type="text" ng-model="treeCtrl.search" placeholder="Search Display Object">