html, body
	font       : 14px "Avenir Next"

::-webkit-scrollbar
	width  : 7px
	height : 7px

::-webkit-scrollbar-track
	border-radius : 10px

/* Handle */
::-webkit-scrollbar-thumb
	background : rgba(22, 75, 96,0.5)

::-webkit-scrollbar-corner
	background : none

::-webkit-scrollbar-thumb:hover
	background : rgba(22, 75, 96,0.8)

$pg-tooltip-background : #1C2B36

.tooltip

	$_trns: 125ms ease-out
	pointer-events   : none
	position         : absolute
	z-index          : 9999999999
	top              :-9999px
	left             :-9999px
	opacity          :0
	padding          : 0 12px
	margin           : -12px 0 0 6px
	border-radius    : 7px
	border           : 2px solid #869FB1
	color            : #fff
	background-color : rgba($pg-tooltip-background, 0.95)
	transform        : scale(0.925,0.925)
	transition       : opacity $_trns, transform $_trns
	&, *
		white-space : nowrap

	&.showing
		opacity   : 0.95
		transform : translate(0, -40px) scale(1,1)

.phaser-inspector-panel
	width       : 500px
	height      : 450px
	min-width   : 450px!important
	min-height  : 300px!important
	z-index     : 500
	padding-top : 20px

	border: 5px solid #1C2B36

	background : rgba(0,0,0,0.85)
	color      : #aaa

	display         : flex
	justify-content : stretch

	&.collapsed
		min-height    : 0px!important
		min-width     : 0px!important
		height        : 0px!important
		width         : 50px!important
		border-bottom : none!important

	.button
		cursor        : pointer
		display       : inline-block
		padding       : 0 5px
		margin-left   : 5px
		height        : 24px
		text-align    : center
		line-height   : 24px
		color         : #fff
		border-radius : 8px
		i
			line-height : 25px
		&.info
			background : #1797be
		&.primary
			background : #6E2E92
		&.warn
			background : #AF8F0A
		&.danger
			background : #A21111
		&.success
			background : #11A218
		&.deactive
			background : #869FB1

	.grabber
		position   : absolute
		top        : 0
		left       : 0
		width      : 100%
		height     : 20px
		background : #1C2B36
		color      : #FFF
		font-size  : 18px
		cursor     : move

		div
			position  : absolute
			top       : -4px
			cursor    : pointer

		.close
			left      : 0

		.toggle-detail
			right     : 0

	.panel
		overflow       : auto

	#details
		overflow-x     : hidden
		width          : 250px

		>div
			margin-top : 10px

		#header
			user-select : none
			margin-left : 10px

		.row
			display         : flex
			justify-content : stretch
			line-height     : 23px
			border-bottom   : 1px solid #222

			&.header
				border-bottom : none
				padding-left  : 5px

			>div
				padding-left  : 10px

			.label
				flex       : 2
				background : #1c2b36
				color      : #ccc

			.detail
				flex  : 3
				color : #fff

			input
				background         : none
				border             : none
				outline            : none
				-webkit-appearance : none
				padding-left       : 10px

			input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
				-webkit-appearance : none
				margin             : 0

		.frame-img
			margin           : 0 auto
			transform-origin : top left

	#tree
		box-shadow       : -25px 30px 24px -30px #000 inset
		flex             : 1
		color            : #bbb9ff
		border-right     : 1px solid #222
		background-color : #1c2b36
		display          : flex
		flex-direction   : column-reverse
		overflow         : hidden
		.search
			width            : 100%
			background-color : #dee5e7
			font-size        : 14px
			color            : #696969
			border           : none
			outline          : none
			padding          : 5px 15px
		.scene
			user-select    : none
			flex           : 1
			overflow       : auto
			.view
				.row
					font-weight : bold
					line-height : 30px
					white-space : nowrap
					user-select : none
					&.selected
						background-color : #0A1925
					&.parentSelected
						background-color : #17222B
					>div
						display : inline-block
					.middle
						div
							text-align     : right
							padding-right  : 5px
							color          : #1797be
							display        : inline-block
							cursor         : pointer
						.eye
							text-align    : center
							color         : #1797be
							display       : inline-block
						.fa-eye-slash, .fa-unlock-alt
							color : #869fb1
						.toggle
							padding-right : 5px
							width         : 5px
							.fa
								width  : 100%
							.fa-circle
								font-size   : 5px
								font-weight : normal
						.name
							color : #869fb1
						.type
						.children
				&.weak
					.middle
						font-weight: normal
						font-style: italic
		.tree-control
			user-select    : none
			padding          : 5px 0
			background-color : #183848
		.states
			user-select    : none
			height     : 100px
			overflow-x : hidden
			overflow-y : auto
			position   : relative
			.state
				padding     : 5px 10px
				font-weight : bold
				color       : #1797BE
				position    : relative
				&.selected
					background-color : #0A1925
					color            : #869FB1

@for $i from 1 through 12
	.f#{$i}
		flex : $i!important

@for $j from 1 through 5
	.pl#{$j}
		padding-left : 5px * $j!important
